$primary-font: 'Open Sans', sans-serif;

body {
	background-color: #181818;
	color: #fff;
	font-family: $primary-font;
	font-weight: 300;
	font-size: 42px;
	height: 100%;
	width: 100%;

	&.minimal {
		p { opacity: 0; }
	}
}
h1 {
	color: #fff;
	font-size: 52px;
	font-family: $primary-font;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 12px;
	line-height: 52px;
	margin: 0;
	@include transition(opacity, .3s);
}
p {
	font-size: 14px;
	margin: 0;
	padding: 0 20px;
	color: #999;
	@include transition(opacity, .3s);
}
a {
	color: #ccc;
	text-decoration: none;

	&:hover { color: #fff; }
}

#wordclock {
	display: table;
	height: 100%;
	width: 100%;
	padding: 40px 0;

	.vertical-center {
		display: table-cell;
		height: 100%;
		width: 100%;
		vertical-align: middle;
		text-align: center;

		table.clock {
			width: 100%;
			max-width: 600px;
			display: inline-block;
			padding: 40px 15px 20px;
			background-color: transparent;
			border: none;
			@include user-select(none);

			tr {
				background-color: transparent;

				td {
					color: #484848;
					font-size: 42px;
					font-family: $primary-font;
					font-weight: 300;
					line-height: 1em;
					width: 80px;

					&.active { color: #fff; }
				}
			}
		}
	}
}

@media screen and (max-height: 820px), screen and (max-width: 600px) {
	body { -webkit-text-size-adjust: 100%; }
	#wordclock .vertical-center table.clock tr td {
		font-size: 32px;
		padding: 4px 0;
	}
}
@media screen and (max-height: 600px), screen and (max-width: 400px) {
	#wordclock .vertical-center table.clock tr td {
		font-size: 22px;
	}
}

body {
	&[data-theme="inverted"] {
		background-color: #fbfbfb;

		p { color: #ccc; }
		a {
			color: #999;
			&:hover { color: #111; }
		}
		#wordclock .vertical-center .clock td {
			color: #ddd;

			&.active { color: #111; }
		}
	}
	&[data-theme="onefinity"] {
		background-color: #fcfcfc;

		p { color: #ccc; }
		a {
			color: #999;
			&:hover { color: #111; }
		}
		#wordclock .vertical-center {
			background: #fff;
			border-top: 1px solid #e8e8e8;
			border-bottom: 1px solid #e8e8e8;

			.clock td {
				color: #ddd;

				&.active { color: #e2194d; }
			}
		}
	}
}