@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/text-shadow";
@import "compass/css3/user-interface";

@mixin box-sizing($type) {
	-webkit-box-sizing: $type;
	-moz-box-sizing: $type;
	-ms-box-sizing: $type;
	-o-box-sizing: $type;
	box-sizing: $type;
	*behavior: url(/css/boxsizing.htc);
}
@mixin background-size($type) {
	-webkit-background-: $type;
	background-size: $type;
	-ms-behavior: url(/css/backgroundsize.min.htc);
}
@mixin pointer-events($type) {
	pointer-events: $type;
}
@mixin webkit-pixelshift-fix() {
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}

@mixin clearfix() {
	zoom: 1;
	&:before { content: ''; display: block; }
	&:after { content: ''; display: table; clear: both; }
}
@mixin calc($property, $expression) {
	#{$property}: -webkit-calc(#{$expression});
	#{$property}: -moz-calc(#{$expression});
	#{$property}: calc(#{$expression});
}
@mixin hide-text() {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}